# Twitch Credentials
TWITCH_USERNAME=your_twitch_username
TWITCH_PASSWORD=your_twitch_password

# Telegram Notifications (optional)
TELEGRAM_CHAT_ID=your_telegram_chat_id
TELEGRAM_TOKEN=your_telegram_bot_token

# Discord Notifications (optional)
DISCORD_WEBHOOK_URL=your_discord_webhook_url

# Custom Webhook (optional)
WEBHOOK_ENDPOINT=your_webhook_endpoint

# Matrix Notifications (optional)
MATRIX_USERNAME=your_matrix_username
MATRIX_PASSWORD=your_matrix_password
MATRIX_HOMESERVER=matrix.org
MATRIX_ROOM_ID=your_matrix_room_id

# Pushover Notifications (optional)
PUSHOVER_USER_KEY=your_pushover_user_key
PUSHOVER_TOKEN=your_pushover_app_token

# Gotify Notifications (optional)
GOTIFY_ENDPOINT=your_gotify_endpoint_url
